<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<h3>Tags</h3>

<ul>
<% @tags.each do |tag| %>
	<li><a href="/tag/<%= tag.name %>"><%= tag.name %></a></li>
<% end %>
</ul>

<% if current_user %>
	<% if current_user.id == @post.user_id %>
		<p><a href="/post/<%= @post.id %>/edit">Edit</a></p>

		<form action="/post/<%= @post.id %>/delete" method="POST">
			<input type="submit" value="Delete">
		</form>
	<% end %>
<% end %>
